<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

<main>
<div class="container">


  <ul id="tabheaders" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Home</a></li>
  </ul>

  <div id="tabpanes" class="tab-content">
    <div id="tab1" class="tab-pane fade in active">
      <ul id="menu1" class="nav nav-pills nav-stacked"></ul>
    </div>
  </div>


</div>
</main>


<footer>
  <% include ../partials/footer %>
</footer>


<script>

var handle = null;


socket.on('handle', function(data) {
  handle = data.handle;
  socket.emit('get_connections');
});

socket.on('connections', function(data) {
  for (var i in data) {
    var d = data[i];
    //alert( d.name + ' ' + d.handle );
  }
//  $("#connections").html( JSON.stringify(data) );
});



function safeText(text) {
  if (!text) { return null; }
  var result = JSON.stringify(text);
  // remove the quotes that stringify adds in
  return result.substring(1,result.length - 1);
}

var menuData = [];


function displayMenu(target_tab_index,menudata,offset) {
  var uri = "http://dev1.ormsky.org:8080/menu.json";
  if (menudata)
  {
    var d = menudata; //menuData[tabindex][menuindex];
    var id = safeText(d.id);
    var keys = d.keys;
    if (id) { uri += "?id="+id; }
    if (keys) { uri += "&keys="+JSON.stringify(keys); }
  }
  $.getJSON( uri, function (data) {
    // store the menu items
    menuData.length = target_tab_index+1;
    menuData[target_tab_index] = data.items;
    // construct html
    var mdivs = '<ul class="click-select nav nav-pills nav-stacked">';
    for (var i in data.items) {
      var d = data.items[i];
      var mid = safeText(d.id);
      //menuData[target_tab_index][i] = d;
      var mtext = safeText(d.text);
      var mkeys = ((d.keys) ? $.param({keys : d.keys}) : '');
      //mdivs += '<li id="'+mid+'"'
      //  + ' onclick="handleMenuClick(\''+mid+'\', \''+mkeys+'\')"'
      //  + ' class="menuItem'+((i==0)?' active':'')+'"'
      //  + '><a>'+mtext+'</a></li>';
      mdivs += '<li id="'+mid+'"'
        + ' data-tabindex="'+target_tab_index+'"'
        + ' data-menuindex="'+i+'"'
        + ' data-action="'+d.action+'"'
        + ' onclick="handleMenuClick('+target_tab_index+','+i+')"'
        + ' class="menuItem'+((i==0)?' active':'')+'"'
        + '><a>'+mtext+'</a></li>';
    }
    mdivs += "</ul>";

//    var x = getActiveTab();
    var x = getTab(target_tab_index);
    $(x).html( mdivs );
  });
};


function handleMenuClick(tabindex,menuindex) {
  var d = menuData[tabindex][menuindex];
//  var id = safeText(d.id);
  selectMenuItem(tabindex,menuindex);
//  activateSelectedMenuItem();
  addNewMenu( d, tabindex+1);
}


function activateSelectedMenuItem() {
  var activeMenu = getActiveTabActiveMenuItem();
  var menuItem = activeMenu.first();
  var id = menuItem.attr("id");

  addNewMenu(id);
}

function selectMenuItem(tabindex,menuindex) {
  $(getTab(tabindex)).find("li").removeClass("active");
  $(getTabMenuItem(tabindex,menuindex)).addClass("active");
}

function selectMenuItem2(itemId) {
  var d = getActiveTabActiveMenuItem();
  $(d).removeClass("active");
  var m = $("#"+itemId);
  $(m).addClass("active");
}


function addNewMenu(menu_data, target_tab_index) {
  //var d = menuData[i];
  var title = ((menu_data) ? safeText(menu_data.text) : '');

  var th = $("#tabheaders");
  var tp = $("#tabpanes");

  var z1 = $(th).find("li");
  var z2 = $(z1).slice(target_tab_index);
  $(z2).remove();
  //$($(th).slice(target_tab_index)).remove();
  z1 = $(tp).find(".tab-pane");
  z2 = $(z1).slice(target_tab_index);
  $(z2).remove();
  //$($(tp).slice(target_tab_index)).remove();

//  var oldActiveHeader = th.find("li")[target_tab_index-1;
//  var oldActivePane = tp.find(".tab-pane.active");

  th.append("<li class='active'><a data-toggle='tab' href='#pane_"+target_tab_index+"'>"+title+"</a></li>");
  tp.append(
'    <div id="pane_'+target_tab_index+'" class="tab-pane fade in active"> \
      <ul class="nav nav-pills nav-stacked"></ul> \
    </div> \
');

  var x1 = $(th).find("li");
  var x2 = $(x1).slice(0,target_tab_index);
  $(x2).removeClass("active");

  x1 = $(tp).find(".tab-pane");
  x2 = $(x1).slice(0,target_tab_index);
  $(x2).removeClass("active");


//  oldActiveHeader.removeClass("active");
//  oldActivePane.removeClass("active");

  displayMenu(target_tab_index, menu_data);
}

function getTab(tabindex) {
  return $("#tabpanes").find(".tab-pane")[tabindex];
}

function getTabMenuItem(tabindex,menuindex) {
  return $(getTab(tabindex)).find("li")[menuindex];
}

function getActiveTab() {
  return $("#tabpanes").find(".tab-pane.active");
}

function getActiveTabActiveMenuItem() {
  return getActiveTab().find("li.active");
}


function handleKeyPress( keycode ) {
  console.log("keycode");
  console.log(keycode);
  var activeMenu = getActiveTabActiveMenuItem();
  var newItem;
  if (keycode==40) {
    newItem = activeMenu.next();
  } else if (keycode==38) {
    newItem = activeMenu.prev();
  } else if (keycode == 13) {
    activateSelectedMenuItem();
    //var id = activeMenu.first().attr("id");
    //activateMenuItem(id);
  }
  if (newItem && newItem.length>0) {
    selectMenuItem( newItem[0].id );
  }
}






$(function() {

  displayMenu( 0, null, 0 );

  $("ul").on( "click", "li.click-select", function(x) { selectMenuItem(this.id); } );

  $(document).on("keydown", function(event) { handleKeyPress( event.keyCode? event.keyCode : event.which); });

  socket.emit('request_handle', { name: 'chrome' } );
});

</script>


</body>
</html>


